@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic);

body{
  background:#E9E9E9;
}
.contenedor{
  width:96%;
  min-height: 96%;
  background: #fff;
  padding: 10px;
  border: 7px solid #2C3E50;
  margin: 20px;

  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;

  flex-wrap: wrap;
  justify-content:center;
  align-content:center;
  align-items:center;
}

.elemento{
  color:#fff;
  margin:5px;
  width:550px;
  height: 550px;
  background: #E67E22;
  text-align: center;
}

body {
	font-family: 'Josefin Sans', serif;
	color: rgba(0, 0, 0, 0.8);
}
p,h1, h2, h3, h4, h5, h6, header {
	font-family: 'Yeseva One', sans-serif;
}

/*Ejemplos:
flex-direction:row;
flex-wrap:wrap;
flex-flow:row-wrap;
justify-content:space-between;
justify-content:space-around;
justify-content:center;
justify-content:flex-start;
justify-content:flex-end;
align-items:center;
align-content:space-around; //Esta propiedad funciona solo con varias lineas*/
